.navbar {
    background-color: #1A1A1A;
    color: #fff;
    font-family: "Rubik", sans-serif;
}

.navbar .navbar-brand span {
    color: #107E57;
    /* font-family: Syne, sans-serif; */
    /* font-size: 20px; */
}

.navbar .navbar-toggler {
    border: none;
    background-color: transparent;
    transition: .4s;
}

.navbar .navbar-toggler:hover {
    background-color: transparent;
    border: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar .navbar-nav .item {
    color: #ffffff;
    transition: .3s ease-in-out;
}

.navbar .navbar-nav .item:hover {
    border-bottom: 2px solid #107E57;
}

.navbar .navbar-nav .item.active {
    border-bottom: 2px solid #107E57;
}

.navbar .navbar-nav .item.active::first-letter {
    color: #107E57;
}

.navbar button {
    background-color: #1a1a1a;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 30px;
    transition: .5s;
}

.navbar button:hover {
    background-color: #1a1a1a;
    color: #fff;
    border: 1.5px solid #107E57;
    border-radius: 30px;
}